<section class="descargar"> 
    <div class="descargar__grid contenedor">
        <div class="descargar__imagen">
            <img class="descargar__img" src="../../../../assets/img/app.png" alt="app-imagen">
        </div>

        <div class="tiendas">
            <h2 class="tiendas__heading">Descarga la App</h2>
            <p class="tiendas__texto">Disponible para Android y iOS</p>
            <div class="tiendas__grid">
                <div class="tiendas__enlace">
                    <img src="../../../../assets/img/tienda-apple.svg" class="tiendas__img" alt="apple-app">
                </div>
                <div class="tiendas__enlace">
                    <img src="../../../../assets/img/tienda-android.svg" class="tiendas__img" alt="android-app">
                </div>
            </div>
        </div>
    </div>
</section>