<main class="favoritos  contenedor">
    <div class="favoritos">
        <h2 class="favoritos__heading">Restaurantes Favoritos</h2>

        <div class="favoritos__grid">
            <div class="favorito" *ngFor="let n of favCon">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <img class="favorito__img" alt="ensaladas-img" src="../../../../assets/img/logo_ensaladas.png">
                    </div>
                    <div class="favorito__contenido">
                        <img class="favorito__estrellas" alt="favorito-estrellas" src="../../../../assets/img/estrellas.png">
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia labore molestias totam blanditiis veritatis aperiam iusto rem?</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>