<section class="contenedor formulario">
    <div class="formulario__grid">
        <div class="formulario__contenido">
            <h2 class="formulario__heading">Encuentra y pide comida de tu restaurante favorito</h2>
            <form class="formulario__buscar">
                <div class="formulario__campo">
                    <label for="restaurante" class="formulario__label">Restaurante</label>
                    <input id="restaurante" type="text" class="formulario__input" placeholder="Tacos Mexico">
                </div>
                <div class="formulario__campo">
                    <label for="platillo" class="formulario__label">Platillo</label>
                    <input id="platillo" type="text" class="formulario__input" placeholder="Pizza, Ensalada, Hamburguesa">
                </div>
                <div class="formulario__campo">
                    <button type="submit" class="formulario__boton">Buscar</button>
                </div>
            </form>
        </div>
        <div class="formulario__imagen">
            <img class="formulario__img" src="../../../assets/img/dibujo_repartidor.svg" alt="imagen-repartidor">
        </div>
    </div>
</section>
<app-como-funciona></app-como-funciona>
<app-testimoniales></app-testimoniales>
<app-restaurantes-favoritos></app-restaurantes-favoritos>
<app-repartidores></app-repartidores>
<app-my-store></app-my-store>