<section class="repartidores contenedor">
    <h2 class="repartidores__heading">Gana diro con AppComida</h2>

    <div class="repartidores__grid">
        <div class="repartidores__imagen">
            <img class="repartidores__img" src="../../../../assets/img/repartidor.jpg" alt="imagen-repartidor">
        </div>
        <div class="repartidores__contenido">
            <div class="repartidores__textoCont">
                <p class="repartidores__texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio quam perspiciatis delectus fugit est odit! Facilis culpa rerum inventore illo, quisquam obcaecati aperiam quidem hic iusto est blanditiis dolor.
                </p>
                <p class="repartidores__texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio quam perspiciatis delectus fugit est odit! Facilis culpa rerum inventore illo, quisquam obcaecati aperiam quidem hic iusto est blanditiis dolor.
                </p>
            </div>
            <a class="repartidores__enlace">Mas informacion</a>
        </div>
    </div>

</section>