<footer class="footer">
    <div class="footer__grid contenedor">
        <div class="footer__widget">
            <h3 class="footer__heading">Nosotros</h3>
            <p class="footer__texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sint in iure distinctio mollitia enim nihil repudiandae 
                inventore error magni et dolorum obcaecati voluptatibus, 
                ut quas repellendus?
            </p>
        </div>

        <div class="footer__widget">
            <h3 class="footer__heading">Navegacion</h3>
           <nav class="footer__nav">
                <a class="footer__link">
                    Enlace 1
                </a>
                <a class="footer__link">
                    Enlace 2
                </a>
                <a class="footer__link">
                Enlace 3
                </a>
                <a class="footer__link">
                    Enlace 4
                </a>
                <a class="footer__link">
                    Enlace 5
                </a>
                <a class="footer__link">
                    Enlace 6
                </a>
           </nav>
        </div>

        <div class="footer__widget">
            <h3 class="footer__heading">Contacto</h3>
            <p class="footer__texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sint in iure distinctio mollitia enim nihil repudiandae 
                inventore error magni et dolorum obcaecati voluptatibus, 
                ut quas repellendus? 
            </p>
        </div>
        
       

    </div>
</footer>
<p class="footer__copyright">
    App Comida. Todos los derechos Reservados
</p>